name: generate snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Clean old snake files
        run: |
          rm -f output/github-snake.svg
          rm -f output/github-snake-dark.svg
          mkdir -p output

      - name: Generate snake animation
        uses: Platane/snk@v3
        with:
          github_user_name: Josan31
          outputs: |
            output/github-snake.svg
            output/github-snake-dark.svg

      - name: Push snake animation to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: output
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
